.footer {
    background-color: $colorGreyDark3;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tabPort) {
        padding: 8rem 0;
    }

    &__logoBox {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tabPort) {
            margin-bottom: 4rem;
        }
    }

    &__logo {
        width: 18rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $colorGreyDark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tabPort) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;

            @include respond(tabPort) {
                margin-bottom: 1rem;
            }
        }
    }

    &__link {

        &:link,
        &:visited {
            color: $colorGreyLight1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: color 0.3s;
        }

        &:hover,
        &:active {
            color: $colorPrimary;
        }
    }

    &__copyright {
        color: $colorGreyLight1;
        border-top: 1px solid $colorGreyDark;
        padding-top: 2rem;
        display: inline-block;
        width: 75%;
        float: right;
        text-align: center;

        @include respond(tabPort) {
            width: 100%;
            float: none;
        }
    }
}
