.UCenterText { text-align: center !important; }

.UMarginBottomSmall { margin-bottom: 1.5rem !important; }
.UMarginBottomMedium { margin-bottom: 4rem !important; }
.UMarginBottomBig { margin-bottom: 8rem !important; }

.UMarginTopBig { margin-top: 8rem !important; }
.UMarginTopHuge { margin-top: 10rem !important; }
